.header {
  background: #cc80ff  url(head.jpg);
  background-size: 1200px;
  color: #e6e6fa;
  height: 250px;
  font-size: 40px;
  padding: 20px;
}

body {
  background: #e6e6fa;
  padding: 0px;
  margin: 0px;
  font-family: "Georgia";
}
.cl{
  font-size: 30px;
    color: #1f6135;
}

button{
  text-align: center;
  background: #bdbdf2;
  margin: 10px;
  width: 200px;
  heigth: 90px;
  border = 5px double black;
  font-family: "Georgia";
}


.buttons {
  padding-left: 20px;
  width: 1000px;
}

.cl0{
  padding-left: 20px;
  width: 1000px;
}
